.background {
      background-color: #5a6663;
      min-height: 100vh;
    }
    .backgroundd{
       background-color: #36566b;
      min-height: 100vh;

    }
    .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 0;
}

.product p {
    font-size: 14px;
    margin: 10px 0;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
}